.WindowScrollerWrapper {
  flex: 1 1 auto;
}

.List {
  border: 1px solid #e0e0e0;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #666;
}
.rowScrolling::after {
  content: ": scrolling";
  font-size: 0.65rem;
  color: #aaa;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-right: 5px;
}
